.root {
  text-align: center;
  color: black;
  h1 {
    padding-top: 60px;
    margin-bottom: 60px;
    font-size: 6rem;
    font-weight: 700;
    color: #5c62ec;
  }
  h2 {
    margin-bottom: 25px;
    font-size: 4rem;
    font-weight: 700;
  }
  span,
  a {
    display: inline-block;
    margin-bottom: 25px;
    font-size: 2rem;
    transition-duration: 200ms;
    &:hover {
      opacity: 0.8;
      scale: 1.1;
      cursor: pointer;
    }
  }
  span {
    font-weight: 700;
    position: relative;
    &::after {
      content: "";
      background-image: url("../../img/contacts/flag-for-flag-ukraine-svgrepo-com.svg");
      background-size: 30px 30px;
      background-repeat: no-repeat;
      display: block;
      width: 30px;
      height: 30px;
      position: absolute;
      top: 0%;
      right: -25%;
    }
  }
  a {
    color: #5c62ec;
  }
}
