.root {
  height: 400px;
  display: flex;
  align-items: center;
  .link {
    .image {
      border-radius: 12px;
      max-width: 600px;
      max-height: 378px;
      transition-duration: 1s;
      @media (max-width: 1024px) {
        max-width: 400px;
      }
      @media (max-width: 720px) {
        max-width: 260px;
      }
      @media (max-width: 500px) {
        max-width: 200px;
      }
      &:hover {
        scale: 1.1;
      }
    }
  }
}
