.root {
  margin: 60px auto;
  .link {
    .image {
      border-radius: 12px;
      max-width: 600px;
      max-height: 378px;
      transition-duration: 1s;
      @media (max-width: 1024px) {
        max-width: 400px;
      }
      @media (max-width: 720px) {
        max-width: 260px;
      }
      @media (max-width: 500px) {
        max-width: 200px;
      }
      &:hover {
        scale: 1.1;
      }
    }
  }
}
// max-width: 370px;
// height: 210px;
// display: flex;
// justify-content: center;
// align-items: center;

// @media (max-width: 375px) {
//   max-width: 250px;
// }
