.root {
  margin: 60px auto;
  .link {
    max-width: 370px;
    height: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 1s;
    @media (max-width: 375px) {
      max-width: 250px;
    }
    &:hover {
      scale: 1.1;
    }

    .image {
      border-radius: 12px;
      max-width: 370px;
      max-height: 278px;
      @media (max-width: 625px) {
        max-width: 270px;
      }
      @media (max-width: 450px) {
        max-width: 175px;
      }
    }
  }
}
