.root {
  background-color: #171718;
  .container {
    max-width: 1200px;
    margin: 0 auto;
    color: white;
    text-align: center;
    font-weight: bold;
    background-image: url("/img/about/header-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    h1 {
      font-size: 6rem;
      padding-top: 250px;
      @media (max-width: 499px) {
        font-size: 4rem;
      }
      span {
        font-size: 6rem;
        color: #5c62ec;
        @media (max-width: 499px) {
          font-size: 4rem;
        }
      }
    }
    h2 {
      font-size: 4rem;
      @media (max-width: 499px) {
        font-size: 2.5rem;
      }
    }
    h3 {
      font-size: 2rem;
      @media (max-width: 499px) {
        font-size: 1.5rem;
      }
    }
    .btn {
      display: inline-block;
      margin: 20px auto 250px auto;
      padding: 12px 28px;
      background-color: #5c62ec;
      border-radius: 5px;
      font-size: 2rem;
      font-weight: 400;
      transition-duration: 200ms;
      &:hover {
        scale: 1.1;
        opacity: 0.8;
      }
    }
  }
}
