.root {
  background-color: #171718;
  color: white;
  font-weight: bold;
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .media {
      margin-top: 30px;
      display: flex;
      justify-content: center;
      a {
        margin-right: 20px;
        &:last-of-type {
          margin-right: 0px;
        }
      }
      img {
        transition-duration: 200ms;
      }
    }
    .numBlock {
      margin: 20px auto;
      transition-duration: 200ms;
    }
    .number,
    span {
      font-size: 2rem;
      transition-duration: 200ms;
    }
    img:hover,
    span:hover,
    .numBlock:hover {
      scale: 1.05;
      opacity: 0.5;
    }
  }
}
