.slick-slider {
  margin: 0 auto;
  width: 60%;
}

.slick-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slick-slide.slick-active.slick-current {
  display: flex;
  align-items: center;
  justify-content: center;
}
