.root {
  background-color: #171718;

  .container {
    max-width: 1200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    .title {
      padding-top: 50px;
      font-size: 6rem;
      color: #5c62ec;
    }
    .imgBlock {
      max-width: 1000px;
      max-height: 800px;
      border-radius: 10px;
      background: white;
      margin: 50px auto;
      .image {
        padding: 20px;
      }
    }
    .links {
      .vercelBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #5c62ec;
        padding: 12px 28px;
        border-radius: 5px;
        color: white;
        margin-bottom: 20px;
        transition-duration: 400ms;
        span {
          font-size: 2rem;
          font-weight: 400;
        }
        img {
          max-width: 30px;
          max-height: 30px;
          margin-right: 30px;
        }
      }
      .githubBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #5c62ec;
        padding: 12px 28px;
        border-radius: 5px;
        color: white;
        transition-duration: 400ms;
        span {
          font-size: 2rem;
          font-weight: 400;
        }
        img {
          max-width: 30px;
          max-height: 30px;
          margin-right: 30px;
        }
      }
      .githubBtn:hover,
      .vercelBtn:hover {
        scale: 1.2;
      }
    }
  }
}
